/* Configurações padrão para início da Estilização */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Aqui colocamos estilização no corpo da página (Body) */

body {
    width: 100%;  /* Largura */
     height: 100vh; /*Tamanho */
     background-image: url(img/img-footer.jpg); /*Aqui inserimos a imagem*/
     background-position: center; /*Posicionamos a imagem ao centro*/
     background-repeat: no-repeat; /*Colocamos para que a img não se repita*/
     background-size: cover; /*Aqui atribuimos para que a imagem fique sobre toda nossa pagina */
     display: flex; /*Responsavel por colocar os itens na mesma linha*/
     align-items: center; /*Alinhar os itens para o centro*/
     justify-content: center; /*Justificar-conteúdo ao centro*/
 }

 .container { /*Aqui estamos chamando nossa Class do DIV PAI*/
    max-width: 1280px; /*Atribuimos aqui um tamanho máximo de largura que essa Class irá exercer*/
    margin: 0 auto; /*Dizemos ao navegador que as margens superior e inferior são iguais a 0 e as da esquerda e direita são automáticas*/
 }

 form { /*Aqui chamamos nosso Form para Estilização*/
    background-color: white; /*Colocamos uma cor de fundo*/
    max-width: 500px; /*Atribuimos aqui um tamanho máximo de largura que esse formulário irá exercer*/
    height: 450px; /*Largura do formulário*/
    padding: 40px; /*Preenchimento*/
    border-radius: 20px; /*Arredondamento das bordas do formulário*/
 }

 form > h1 { /*Chamamos nosso Texto para estilização*/
    text-align: center; /*Alinhamos ao centro*/
    font-size: 30px; /*Tamanho da letra*/
    color: black; /*Cor da letra*/
 } 
 
 form > p { /*Chamamos nosso Paragrafo para estilização*/
    text-align: center; /*Alinhamos para o centro nosso Parágrafo*/
    margin: 20px 0 ; /*Dizemos ao navegador que as margens superior e inferior são iguais a 20 e as da esquerda e direita são 0*/
 }

 .input-single { /*Chamamos nossa Class que está encabeçada nas Div´s dos nossos input e label*/
    position: relative; /*Posição relativa*/
    margin: 20px 0; /*Dizemos ao navegador que as margens superior e inferior são iguais a 20 e as da esquerda e direta são 0*/
 }
